In [1]:
typeof(("A", 3, "B", 4, "C", 2))

Tuple{String,Int64,String,Int64,String,Int64}

In [1]:
using DataFrames

In [2]:
?sub

search: sub sub2ind subtypes SubArray SubString SubDataFrame ind2sub randsubseq

No documentation found.

`DataFrames.sub` is a `Function`.

```
# 1 method for generic function "sub":
sub(df::DataFrames.AbstractDataFrame, rows) in DataFrames at deprecated.jl:56
```

In [3]:
df = DataFrame(A = rand(1:50, 15), B = rand(51:100, 15), C = rand(101:150, 15));

In [4]:
df

15×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C   │
├─────┼────┼────┼─────┤
│ 1   │ 14 │ 59 │ 111 │
│ 2   │ 8  │ 93 │ 127 │
│ 3   │ 45 │ 81 │ 147 │
│ 4   │ 12 │ 90 │ 115 │
│ 5   │ 39 │ 76 │ 111 │
│ 6   │ 20 │ 91 │ 147 │
│ 7   │ 33 │ 81 │ 109 │
│ 8   │ 42 │ 93 │ 111 │
│ 9   │ 17 │ 53 │ 118 │
│ 10  │ 24 │ 65 │ 111 │
│ 11  │ 47 │ 74 │ 130 │
│ 12  │ 36 │ 82 │ 131 │
│ 13  │ 49 │ 68 │ 101 │
│ 14  │ 41 │ 91 │ 145 │
│ 15  │ 33 │ 98 │ 142 │

In [5]:
sub(df, 5)

1×3 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ A  │ B  │ C   │
├─────┼────┼────┼─────┤
│ 1   │ 39 │ 76 │ 111 │

In [6]:
deleterows!(df, [3, 5, 9])

12×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C   │
├─────┼────┼────┼─────┤
│ 1   │ 14 │ 59 │ 111 │
│ 2   │ 8  │ 93 │ 127 │
│ 3   │ 12 │ 90 │ 115 │
│ 4   │ 20 │ 91 │ 147 │
│ 5   │ 33 │ 81 │ 109 │
│ 6   │ 42 │ 93 │ 111 │
│ 7   │ 24 │ 65 │ 111 │
│ 8   │ 47 │ 74 │ 130 │
│ 9   │ 36 │ 82 │ 131 │
│ 10  │ 49 │ 68 │ 101 │
│ 11  │ 41 │ 91 │ 145 │
│ 12  │ 33 │ 98 │ 142 │

In [7]:
rand(5:15, 30)

30-element Array{Int64,1}:
  9
  5
 15
  7
  5
 10
 11
 14
 12
 10
 15
 12
 15
  ⋮
  9
 12
  9
  8
  9
 12
  8
 14
  5
 12
  6
 15

In [9]:
using Distributions, DataFrames

In [11]:
array_1 = DataFrame(A = rand(Normal(0, 1), 30), B = rand(Normal(10, 2), 30), C = rand(5:15, 30))

30×3 DataFrames.DataFrame
│ Row │ A          │ B       │ C  │
├─────┼────────────┼─────────┼────┤
│ 1   │ -0.0151796 │ 8.03018 │ 13 │
│ 2   │ 0.173671   │ 9.13203 │ 14 │
│ 3   │ -0.600591  │ 10.7193 │ 8  │
│ 4   │ 0.185425   │ 8.42818 │ 5  │
│ 5   │ 2.15278    │ 8.25968 │ 7  │
│ 6   │ 0.893331   │ 10.2189 │ 6  │
│ 7   │ -0.760622  │ 8.7601  │ 10 │
│ 8   │ 0.412325   │ 8.36881 │ 14 │
│ 9   │ 0.654653   │ 10.671  │ 15 │
│ 10  │ 0.978264   │ 12.5452 │ 5  │
│ 11  │ -1.28491   │ 7.0983  │ 14 │
⋮
│ 19  │ 0.859082   │ 10.4345 │ 11 │
│ 20  │ -1.28928   │ 12.2442 │ 15 │
│ 21  │ 0.369633   │ 11.0323 │ 9  │
│ 22  │ -0.151369  │ 10.036  │ 12 │
│ 23  │ -1.38527   │ 11.6821 │ 11 │
│ 24  │ 0.637271   │ 8.98687 │ 6  │
│ 25  │ -2.83974   │ 11.6196 │ 6  │
│ 26  │ 0.0421159  │ 10.2447 │ 9  │
│ 27  │ -2.08648   │ 11.8033 │ 7  │
│ 28  │ 0.402525   │ 12.3606 │ 11 │
│ 29  │ 0.121271   │ 7.63516 │ 15 │
│ 30  │ 1.38694    │ 9.40916 │ 11 │

In [12]:
println("Column 1 mean: ", mean(array_1[:,1]), " variance: ", var(array_1[:,1]));

Column 1 mean: -0.13718386497159993 variance: 1.3775039595421905

In [13]:
array_2 = [rand(Normal(0, 1), 30) rand(Normal(10, 2), 30) rand(5:15, 30)]

30×3 Array{Float64,2}:
  0.534479  10.6169    7.0
  0.594111  10.817    13.0
 -1.25403    9.57131   7.0
  0.473676   8.19819  15.0
  1.57592   11.123    10.0
 -2.20606    9.46517  10.0
  0.915985  10.6785    7.0
 -0.839323  11.6595   14.0
 -0.755838   7.61974   9.0
  0.94072    9.95267   5.0
  0.927188   9.9128   11.0
  1.45288   10.7017   13.0
  1.72983   12.0084    7.0
  ⋮
  1.15853    8.79381  14.0
  1.01529    7.48173  14.0
  1.46862   10.5841    5.0
 -0.136873  11.3129   11.0
 -0.262206   8.4347   10.0
 -0.508165  10.9114    6.0
  1.13392    6.59631  12.0
  0.631623  10.9931   12.0
 -0.503011  10.519    15.0
  1.03852   11.48     10.0
 -0.236538   7.7868   13.0
  1.49334    9.13408   6.0

In [15]:
println("Column 1 mean: ", mean(array_2[:,1]), " variance: ", var(array_2[:,1]));

Column 1 mean: 0.4553366844575366 variance: 1.0117463770151125

In [16]:
df = DataFrame(array_2)

30×3 DataFrames.DataFrame
│ Row │ x1        │ x2      │ x3   │
├─────┼───────────┼─────────┼──────┤
│ 1   │ 0.534479  │ 10.6169 │ 7.0  │
│ 2   │ 0.594111  │ 10.817  │ 13.0 │
│ 3   │ -1.25403  │ 9.57131 │ 7.0  │
│ 4   │ 0.473676  │ 8.19819 │ 15.0 │
│ 5   │ 1.57592   │ 11.123  │ 10.0 │
│ 6   │ -2.20606  │ 9.46517 │ 10.0 │
│ 7   │ 0.915985  │ 10.6785 │ 7.0  │
│ 8   │ -0.839323 │ 11.6595 │ 14.0 │
│ 9   │ -0.755838 │ 7.61974 │ 9.0  │
│ 10  │ 0.94072   │ 9.95267 │ 5.0  │
│ 11  │ 0.927188  │ 9.9128  │ 11.0 │
⋮
│ 19  │ 1.15853   │ 8.79381 │ 14.0 │
│ 20  │ 1.01529   │ 7.48173 │ 14.0 │
│ 21  │ 1.46862   │ 10.5841 │ 5.0  │
│ 22  │ -0.136873 │ 11.3129 │ 11.0 │
│ 23  │ -0.262206 │ 8.4347  │ 10.0 │
│ 24  │ -0.508165 │ 10.9114 │ 6.0  │
│ 25  │ 1.13392   │ 6.59631 │ 12.0 │
│ 26  │ 0.631623  │ 10.9931 │ 12.0 │
│ 27  │ -0.503011 │ 10.519  │ 15.0 │
│ 28  │ 1.03852   │ 11.48   │ 10.0 │
│ 29  │ -0.236538 │ 7.7868  │ 13.0 │
│ 30  │ 1.49334   │ 9.13408 │ 6.0  │

In [17]:
rename!(df, Dict(:x1 => :Var1, :x2 => :Var2, :x3 => :Var3))

30×3 DataFrames.DataFrame
│ Row │ Var1      │ Var2    │ Var3 │
├─────┼───────────┼─────────┼──────┤
│ 1   │ 0.534479  │ 10.6169 │ 7.0  │
│ 2   │ 0.594111  │ 10.817  │ 13.0 │
│ 3   │ -1.25403  │ 9.57131 │ 7.0  │
│ 4   │ 0.473676  │ 8.19819 │ 15.0 │
│ 5   │ 1.57592   │ 11.123  │ 10.0 │
│ 6   │ -2.20606  │ 9.46517 │ 10.0 │
│ 7   │ 0.915985  │ 10.6785 │ 7.0  │
│ 8   │ -0.839323 │ 11.6595 │ 14.0 │
│ 9   │ -0.755838 │ 7.61974 │ 9.0  │
│ 10  │ 0.94072   │ 9.95267 │ 5.0  │
│ 11  │ 0.927188  │ 9.9128  │ 11.0 │
⋮
│ 19  │ 1.15853   │ 8.79381 │ 14.0 │
│ 20  │ 1.01529   │ 7.48173 │ 14.0 │
│ 21  │ 1.46862   │ 10.5841 │ 5.0  │
│ 22  │ -0.136873 │ 11.3129 │ 11.0 │
│ 23  │ -0.262206 │ 8.4347  │ 10.0 │
│ 24  │ -0.508165 │ 10.9114 │ 6.0  │
│ 25  │ 1.13392   │ 6.59631 │ 12.0 │
│ 26  │ 0.631623  │ 10.9931 │ 12.0 │
│ 27  │ -0.503011 │ 10.519  │ 15.0 │
│ 28  │ 1.03852   │ 11.48   │ 10.0 │
│ 29  │ -0.236538 │ 7.7868  │ 13.0 │
│ 30  │ 1.49334   │ 9.13408 │ 6.0  │

In [18]:
df2 = df[:-20]

LoadError: MethodError: no method matching typed_hcat(::DataFrames.DataFrame, ::Symbol, ::Int64)
Closest candidates are:
  typed_hcat(::Type, ::Any...) at abstractarray.jl:1304
  typed_hcat(::Type{T}, ::Number...) where T at abstractarray.jl:1074
  typed_hcat(::Type{T}, ::Union{Number, RowVector}...) where T at linalg/rowvector.jl:164

In [19]:
df2 = sub(df, 11:end)

LoadError: syntax: missing last argument in "11:" range expression

In [21]:
df2 = df[11:30, :]

20×3 DataFrames.DataFrame
│ Row │ Var1      │ Var2    │ Var3 │
├─────┼───────────┼─────────┼──────┤
│ 1   │ 0.927188  │ 9.9128  │ 11.0 │
│ 2   │ 1.45288   │ 10.7017 │ 13.0 │
│ 3   │ 1.72983   │ 12.0084 │ 7.0  │
│ 4   │ -0.562142 │ 11.6471 │ 8.0  │
│ 5   │ 1.02494   │ 8.36682 │ 15.0 │
│ 6   │ 0.595288  │ 10.1078 │ 9.0  │
│ 7   │ 2.21663   │ 9.15149 │ 9.0  │
│ 8   │ 0.0028013 │ 9.17339 │ 13.0 │
│ 9   │ 1.15853   │ 8.79381 │ 14.0 │
│ 10  │ 1.01529   │ 7.48173 │ 14.0 │
│ 11  │ 1.46862   │ 10.5841 │ 5.0  │
│ 12  │ -0.136873 │ 11.3129 │ 11.0 │
│ 13  │ -0.262206 │ 8.4347  │ 10.0 │
│ 14  │ -0.508165 │ 10.9114 │ 6.0  │
│ 15  │ 1.13392   │ 6.59631 │ 12.0 │
│ 16  │ 0.631623  │ 10.9931 │ 12.0 │
│ 17  │ -0.503011 │ 10.519  │ 15.0 │
│ 18  │ 1.03852   │ 11.48   │ 10.0 │
│ 19  │ -0.236538 │ 7.7868  │ 13.0 │
│ 20  │ 1.49334   │ 9.13408 │ 6.0  │

In [22]:
df2[:Cat1] = rand(["GroupA", "GroupB"], 20)

20-element Array{String,1}:
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"

In [23]:
df2

20×4 DataFrames.DataFrame
│ Row │ Var1      │ Var2    │ Var3 │ Cat1   │
├─────┼───────────┼─────────┼──────┼────────┤
│ 1   │ 0.927188  │ 9.9128  │ 11.0 │ GroupA │
│ 2   │ 1.45288   │ 10.7017 │ 13.0 │ GroupB │
│ 3   │ 1.72983   │ 12.0084 │ 7.0  │ GroupA │
│ 4   │ -0.562142 │ 11.6471 │ 8.0  │ GroupB │
│ 5   │ 1.02494   │ 8.36682 │ 15.0 │ GroupA │
│ 6   │ 0.595288  │ 10.1078 │ 9.0  │ GroupA │
│ 7   │ 2.21663   │ 9.15149 │ 9.0  │ GroupA │
│ 8   │ 0.0028013 │ 9.17339 │ 13.0 │ GroupA │
│ 9   │ 1.15853   │ 8.79381 │ 14.0 │ GroupB │
│ 10  │ 1.01529   │ 7.48173 │ 14.0 │ GroupA │
│ 11  │ 1.46862   │ 10.5841 │ 5.0  │ GroupA │
│ 12  │ -0.136873 │ 11.3129 │ 11.0 │ GroupA │
│ 13  │ -0.262206 │ 8.4347  │ 10.0 │ GroupA │
│ 14  │ -0.508165 │ 10.9114 │ 6.0  │ GroupA │
│ 15  │ 1.13392   │ 6.59631 │ 12.0 │ GroupA │
│ 16  │ 0.631623  │ 10.9931 │ 12.0 │ GroupB │
│ 17  │ -0.503011 │ 10.519  │ 15.0 │ GroupA │
│ 18  │ 1.03852   │ 11.48   │ 10.0 │ GroupA │
│ 19  │ -0.236538 │ 7.7868  │ 13.0 │ GroupA │
│ 20  │ 1.49334   │ 9.13408 │ 6.0  │ GroupA │

In [24]:
df3 = DataFrame(A = 1:20, B = 21:40, C = 41:60)

20×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 21 │ 41 │
│ 2   │ 2  │ 22 │ 42 │
│ 3   │ 3  │ 23 │ 43 │
│ 4   │ 4  │ 24 │ 44 │
│ 5   │ 5  │ 25 │ 45 │
│ 6   │ 6  │ 26 │ 46 │
│ 7   │ 7  │ 27 │ 47 │
│ 8   │ 8  │ 28 │ 48 │
│ 9   │ 9  │ 29 │ 49 │
│ 10  │ 10 │ 30 │ 50 │
│ 11  │ 11 │ 31 │ 51 │
│ 12  │ 12 │ 32 │ 52 │
│ 13  │ 13 │ 33 │ 53 │
│ 14  │ 14 │ 34 │ 54 │
│ 15  │ 15 │ 35 │ 55 │
│ 16  │ 16 │ 36 │ 56 │
│ 17  │ 17 │ 37 │ 57 │
│ 18  │ 18 │ 38 │ 58 │
│ 19  │ 19 │ 39 │ 59 │
│ 20  │ 20 │ 40 │ 60 │

In [29]:
df3[10, :A]= NaN

LoadError: InexactError()

In [30]:
df3[10, :A]= NA

LoadError: UndefVarError: NA not defined

In [31]:
df3[10, :A] = missing

LoadError: MethodError: Cannot `convert` an object of type Missings.Missing to an object of type Int64
This may have arisen from a call to the constructor Int64(...),
since type constructors fall back to convert methods.

In [33]:
allowmissing!(df3, :A)

20×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 21 │ 41 │
│ 2   │ 2  │ 22 │ 42 │
│ 3   │ 3  │ 23 │ 43 │
│ 4   │ 4  │ 24 │ 44 │
│ 5   │ 5  │ 25 │ 45 │
│ 6   │ 6  │ 26 │ 46 │
│ 7   │ 7  │ 27 │ 47 │
│ 8   │ 8  │ 28 │ 48 │
│ 9   │ 9  │ 29 │ 49 │
│ 10  │ 10 │ 30 │ 50 │
│ 11  │ 11 │ 31 │ 51 │
│ 12  │ 12 │ 32 │ 52 │
│ 13  │ 13 │ 33 │ 53 │
│ 14  │ 14 │ 34 │ 54 │
│ 15  │ 15 │ 35 │ 55 │
│ 16  │ 16 │ 36 │ 56 │
│ 17  │ 17 │ 37 │ 57 │
│ 18  │ 18 │ 38 │ 58 │
│ 19  │ 19 │ 39 │ 59 │
│ 20  │ 20 │ 40 │ 60 │

In [34]:
df3[10, :A] = missing

missing

In [35]:
df3

20×3 DataFrames.DataFrame
│ Row │ A       │ B  │ C  │
├─────┼─────────┼────┼────┤
│ 1   │ 1       │ 21 │ 41 │
│ 2   │ 2       │ 22 │ 42 │
│ 3   │ 3       │ 23 │ 43 │
│ 4   │ 4       │ 24 │ 44 │
│ 5   │ 5       │ 25 │ 45 │
│ 6   │ 6       │ 26 │ 46 │
│ 7   │ 7       │ 27 │ 47 │
│ 8   │ 8       │ 28 │ 48 │
│ 9   │ 9       │ 29 │ 49 │
│ 10  │ missing │ 30 │ 50 │
│ 11  │ 11      │ 31 │ 51 │
│ 12  │ 12      │ 32 │ 52 │
│ 13  │ 13      │ 33 │ 53 │
│ 14  │ 14      │ 34 │ 54 │
│ 15  │ 15      │ 35 │ 55 │
│ 16  │ 16      │ 36 │ 56 │
│ 17  │ 17      │ 37 │ 57 │
│ 18  │ 18      │ 38 │ 58 │
│ 19  │ 19      │ 39 │ 59 │
│ 20  │ 20      │ 40 │ 60 │

In [36]:
allowmissing!(df3)

20×3 DataFrames.DataFrame
│ Row │ A       │ B  │ C  │
├─────┼─────────┼────┼────┤
│ 1   │ 1       │ 21 │ 41 │
│ 2   │ 2       │ 22 │ 42 │
│ 3   │ 3       │ 23 │ 43 │
│ 4   │ 4       │ 24 │ 44 │
│ 5   │ 5       │ 25 │ 45 │
│ 6   │ 6       │ 26 │ 46 │
│ 7   │ 7       │ 27 │ 47 │
│ 8   │ 8       │ 28 │ 48 │
│ 9   │ 9       │ 29 │ 49 │
│ 10  │ missing │ 30 │ 50 │
│ 11  │ 11      │ 31 │ 51 │
│ 12  │ 12      │ 32 │ 52 │
│ 13  │ 13      │ 33 │ 53 │
│ 14  │ 14      │ 34 │ 54 │
│ 15  │ 15      │ 35 │ 55 │
│ 16  │ 16      │ 36 │ 56 │
│ 17  │ 17      │ 37 │ 57 │
│ 18  │ 18      │ 38 │ 58 │
│ 19  │ 19      │ 39 │ 59 │
│ 20  │ 20      │ 40 │ 60 │

In [37]:
df3[10, :A] = missing;
df3[15, :B] = missing;
df3[19, :C] = missing;

In [38]:
df3

20×3 DataFrames.DataFrame
│ Row │ A       │ B       │ C       │
├─────┼─────────┼─────────┼─────────┤
│ 1   │ 1       │ 21      │ 41      │
│ 2   │ 2       │ 22      │ 42      │
│ 3   │ 3       │ 23      │ 43      │
│ 4   │ 4       │ 24      │ 44      │
│ 5   │ 5       │ 25      │ 45      │
│ 6   │ 6       │ 26      │ 46      │
│ 7   │ 7       │ 27      │ 47      │
│ 8   │ 8       │ 28      │ 48      │
│ 9   │ 9       │ 29      │ 49      │
│ 10  │ missing │ 30      │ 50      │
│ 11  │ 11      │ 31      │ 51      │
│ 12  │ 12      │ 32      │ 52      │
│ 13  │ 13      │ 33      │ 53      │
│ 14  │ 14      │ 34      │ 54      │
│ 15  │ 15      │ missing │ 55      │
│ 16  │ 16      │ 36      │ 56      │
│ 17  │ 17      │ 37      │ 57      │
│ 18  │ 18      │ 38      │ 58      │
│ 19  │ 19      │ 39      │ missing │
│ 20  │ 20      │ 40      │ 60      │

## https://stackoverflow.com/questions/48287702/problems-with-replacing-missing-values-in-a-dataframe-with-julia-0-6-2

In [39]:
df4 = df3;

In [41]:
df4[:,:][ismissing.(df4[:,:])] = 1

LoadError: ArgumentError: Cannot assign to non-existent column: false

In [44]:
for r in eachrow(df4)
    ismissing(r[:A]) && (r[:A] = 0)
end

In [45]:
df4

20×3 DataFrames.DataFrame
│ Row │ A  │ B       │ C       │
├─────┼────┼─────────┼─────────┤
│ 1   │ 1  │ 21      │ 41      │
│ 2   │ 2  │ 22      │ 42      │
│ 3   │ 3  │ 23      │ 43      │
│ 4   │ 4  │ 24      │ 44      │
│ 5   │ 5  │ 25      │ 45      │
│ 6   │ 6  │ 26      │ 46      │
│ 7   │ 7  │ 27      │ 47      │
│ 8   │ 8  │ 28      │ 48      │
│ 9   │ 9  │ 29      │ 49      │
│ 10  │ 1  │ 30      │ 50      │
│ 11  │ 11 │ 31      │ 51      │
│ 12  │ 12 │ 32      │ 52      │
│ 13  │ 13 │ 33      │ 53      │
│ 14  │ 14 │ 34      │ 54      │
│ 15  │ 15 │ missing │ 55      │
│ 16  │ 16 │ 36      │ 56      │
│ 17  │ 17 │ 37      │ 57      │
│ 18  │ 18 │ 38      │ 58      │
│ 19  │ 19 │ 39      │ missing │
│ 20  │ 20 │ 40      │ 60      │

In [46]:
for r in eachrow(df4)
    ismissing(r[:B]) && (r[:B] = 0)
end
df4

20×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C       │
├─────┼────┼────┼─────────┤
│ 1   │ 1  │ 21 │ 41      │
│ 2   │ 2  │ 22 │ 42      │
│ 3   │ 3  │ 23 │ 43      │
│ 4   │ 4  │ 24 │ 44      │
│ 5   │ 5  │ 25 │ 45      │
│ 6   │ 6  │ 26 │ 46      │
│ 7   │ 7  │ 27 │ 47      │
│ 8   │ 8  │ 28 │ 48      │
│ 9   │ 9  │ 29 │ 49      │
│ 10  │ 1  │ 30 │ 50      │
│ 11  │ 11 │ 31 │ 51      │
│ 12  │ 12 │ 32 │ 52      │
│ 13  │ 13 │ 33 │ 53      │
│ 14  │ 14 │ 34 │ 54      │
│ 15  │ 15 │ 0  │ 55      │
│ 16  │ 16 │ 36 │ 56      │
│ 17  │ 17 │ 37 │ 57      │
│ 18  │ 18 │ 38 │ 58      │
│ 19  │ 19 │ 39 │ missing │
│ 20  │ 20 │ 40 │ 60      │

## https://stackoverflow.com/questions/48554416/how-to-replace-dummy-values-with-missing-in-julia-dataframes

## https://stackoverflow.com/questions/48287702/problems-with-replacing-missing-values-in-a-dataframe-with-julia-0-6-2

## https://stackoverflow.com/questions/34611109/julia-dataframe-replacing-na-values